body {
  text-align: center;
  margin: 0;
}

h1 {
  background-color: #FFC72D;
  color: #4FD0FF;
  text-align: center;
  width: 100%;
  margin: 0 0 30px 0;
}
notice {}
#error_explanation {
  list-style: none;
  color: red;
  margin: 10px 60px;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

.search {
  padding: 3px;
  margin: 20px;
  background-color: #EAEAEA;
}

table {
  margin: auto;
  width: 95%;
  border-collapse:collapse;
  table-layout: fixed;
  word-wrap: break-word;
}
.column {
  background-color: #EAEAEA;
  border: solid 1px #BABABA;
  height: 30px;
}
.data {
  border: solid 1px #BABABA;
  height: 40px;
}
.title {}
.content {
}
.limit {
  width: 95px;
}
.status {
  width: 95px;
}
.priority {
  width: 70px;
}

.task_title {
  margin: 10px;
}
dl {
  display: table;
  width: 100%;
}
.form_label {
  width: 40%;
  display: table-cell;
  text-align: right;
  padding-right: 5px;
}
.form_input {
  width:40%;
  display: table-cell;
  text-align: left;
  padding-left: 5px;
}
.search_label {
  width: 20%;
  display: table-cell;
  text-align: right;
  padding-right: 5px;
}
.search_input {
  display: table-cell;
  text-align: left;
  padding-left: 5px;
}
.show_label {
  display: table-cell;
  text-align: right;
  padding-right: 5px;
}
.show_input {
  width:80%;
  display: table-cell;
  text-align: left;
  padding-left: 5px;
}


.btn {
  text-decoration: none;
  color: #4FD0FF;
  border-radius: 6px;
  background-color: #FFC72D;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
               -1px 1px 0 #FFF, 1px -1px 0 #FFF,
               0px 1px 0 #FFF,  0 -1px 0 #FFF,
               -1px 0 0 #FFF, 1px 0 0 #FFF;
  border: 2px solid;
  border-color: black;
  padding: 5px;
}
.back {
  background-color: #FFDC7C;
  color: #4FD0FF;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
               -1px 1px 0 #FFF, 1px -1px 0 #FFF,
               0px 1px 0 #FFF,  0 -1px 0 #FFF,
               -1px 0 0 #FFF, 1px 0 0 #FFF;
  border: 2px solid;
  border-radius: 6px;
  border-color: #4FD0FF;
  height: 20px;
  padding: 5px;
}
.option_btn {
  text-decoration: none;
  color: #4FD0FF;
  background-color: #FFC72D;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
               -1px 1px 0 #FFF, 1px -1px 0 #FFF,
               0px 1px 0 #FFF,  0-1px 0 #FFF,
               -1px 0 0 #FFF, 1px 0 0 #FFF;  // border: 1px solid;
  border-radius: 10px;
  padding: 5px;
}
.option {
  margin: 7px;
}
